{% extends 'base.html'%}

{%block content%}
<div class="row">
    <div class="col-md">
        <table class="table table-striped">
            <tr>
      <th scope="col">Номер</th>
      <th scope="col">Місто відбуття</th>
      <th scope="col">Місто прибуття</th>
      <th scope="col">Час поїздки</th>
    </tr>
            <tr>
                <td><a href="{%url 'trains:detail' pk=object.pk%}">{{object.name}}</a></td>
                <td>{{object.from_town}}</td>
                <td>{{object.to_town}}</td>
                <td>{{object.travel_time}}</td>
            </tr>
        </table>
</div>
    </div>

<br>
<div class="row">
    <div class="col-md-4 mx-auto">
        <a href="{% url 'trains:home' %}">
            <button type="button" class="btn btn-light">Назад </button></a>

    </div>
</div>
{%endblock%}